<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/svg+xml" href="/images/@ViewBag.svg" sizes="any">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/@ViewBag.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/@ViewBag.png32">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/@ViewBag.png16">
    <link rel="mask-icon" href="/images/@ViewBag.svg" color="#5bbad5">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/shared.css" media="all" />
</head>
<body>
    <div class="topNavigation @ViewBag.NavClass">
        <div><a href="/Deconz"><img class="navigationImage" src="/images/led-lamp.svg" />Deconz</a></div>
       @*  <div><a href="/Shelly"><img class="navigationImage" src="/images/power.svg" />Shellys</a></div> *@
       @*  <div><a href="/Buttons"><img class="navigationImage" src="/images/buttons.svg" />Buttons</a></div> *@
        <div><a href="/Aurora"><img class="navigationImage" src="/images/aurora.png" />Aurora</a></div>
        @* <div><a href="/PV"><img class="navigationImage" src="/images/pv.svg" />PV</a></div> *@
        <div><a href="/Links"><img class="navigationImage" src="/images/favicon.png" />Links</a></div>
        <div><a href="/receipt"><img class="navigationImage" src="/images/topf.png" />Rezepte</a></div>
    </div>
    
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>