<link rel="stylesheet" href="/css/checkbox.css" media="all" />
<link rel="stylesheet" href="/css/Deconz.css" media="all" />
<script src="/js/Send.js" type="text/javascript"></script>
<script src="/js/SmartHomeVariables.js" type="text/javascript"></script>
<script src="/js/DeconzSystem.js" type="text/javascript"></script>
<script src="/js/iro2.js" type="text/javascript"></script>
<div id="Bodydiv">
    <div id="DeconzContent"><div id="DeconzContentWrapper"></div></div>
</div>
<script>
        window.SV = new SmartHomeVariables();
        window.DS = new DeconzSystem();
        DS.Init();
</script>