    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Aurora</title>
    <meta charset="utf-8" />
<script src="/js/iro2.js" asp-append-version="true"></script>
<script src="/js/JSAurora.js" asp-append-version="true"></script>
<link href="/css/Aurora.css" rel="stylesheet" asp-append-version="true" />
    <link rel="manifest" href="/images/manifest.json">
    <meta name="msapplication-config" content="/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


    <div id="AuroraWrapper"></div>
    <script>
            var aurora;
            var options = { Wrapper: "AuroraWrapper", Name: "aurora" }
                aurora = new NanoleafAurora(options);
                aurora.Init();
    </script>
    <div id="test"></div>
