#Bodydiv {
    display: inline-flex;
    width: 99%;
    margin: 5px;
    color: white;
    justify-content: center;
    
}
#DeconzContent {
    min-height: 150px;
    width: 100%;
    max-width: 720px;
}
.room {
    background: rgb(78,78,83);
    background: linear-gradient(90deg, rgba(78,78,83,1) 0%, rgba(20,20,24,1) 21%, rgba(81,72,120,1) 100%);
    border: 1px solid white;
    border-radius: 25px 25px 25px 25px;
    padding: 0.25em 0.25em 0.25em 0.25em;
    margin: 0.25em;
    box-shadow: black 5px 10px 10px 0px;
}

.room.lightGroup {
    border: 1px solid grey;
}
.roomLightsWrapper{
    display:none;
}
.roomEveryTimeShowed {
    display: inline-flex;
    width: 100%;
}
.light {
    background: rgb(78,78,83);
    background: linear-gradient(90deg, rgba(78,78,83,1) 0%, rgba(20,20,24,1) 21%, rgba(81,72,120,1) 100%);
    border: 1px solid white;
    border-radius: 25px 25px 25px 25px;
    padding: 0.25em 0.25em 0.25em 0.25em;
    width: 90%;
    margin: 5px auto;
}
.lightWrapperNoColor {
    display: inline-flex;
    width: 100%;
}
.sliderBri {
    width: calc(100% - 130px);
    appearance: none;
    background: linear-gradient(90deg, rgba(99,74,105,0.01) 0%, rgba(113,16,139,1) 80%);
    border: 1px solid gray;
    border-radius: 25px;
}
.iroColor {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
.roomName, .lightName {
    width: 80%;
    margin-left: 5px;
}
.roomNameSpan {
    vertical-align: sub;
}
.roomPowerState {
    
}